.forumBox {
  height: calc(100vh - 80px);
  width: calc(100vw - 64.19px);
  background-color: #f9f9f9;
}
.header {
  position: relative;
  width: 85%;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 15px 0 12px 20px;
  .title {
    color: #3d3d3d;
    padding-left: 10px;
    border-left: 5px solid #ff9d00;
  }

  // .circle {
  //   z-index: 2;
  //   position: absolute;
  //   left: 0px;
  //   bottom: 0;
  //   width: 12px;
  //   height: 12px;
  //   border-radius: 90px;
  //   opacity: 0.9;
  //   background-color: #b46bfd;
  // }
  .line {
    z-index: 1;
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 85%;
    border: 1px solid #d3acfb;
  }
  .icon {
    position: absolute;
    right: 0;
    bottom: 10px;
    display: flex;
    .iconBox {
      position: relative;
      image {
        width: 20px;
        height: 20px;
        padding-left: 20px;
      }
      .show {
        z-index: 10;
        position: absolute;
        top: 28px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50px;
        background-color: #fff;
        border: 1px solid #f169ec;
        border-radius: 8px;
        // padding: 10px 0;
        background-color: rgba(#fff, 0.5);
        .font {
          color: #fff;
          background-color: #f169ec;
          font-weight: 500;
          font-size: 14px;
          border-radius: 8px;
          padding: 2px 5px;
          margin: 5px 0;
        }
      }
    }
  }
}

.subjectBox {
  .search {
    position: relative;
    width: 85%;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 10px 5px 5px #e2e2e2;
    padding: 5px;
    margin-top: 5px;
    image {
      position: absolute;
      top: 6px;
      left: 10px;
      width: 20px;
      height: 20px;
    }
    input {
      padding-left: 30px;
    }
  }
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .subject {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85%;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 10px 5px 5px #e2e2e2;
    padding: 10px;
    margin-top: 15px;
    transition: all 1s ease-in-out;

    .Title {
      color: #b0b0b0;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 18px;
      font-weight: 400;
      padding-left: 20px;
    }
    .subtitle {
      color: #b0b0b0;
      font-weight: 300;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      padding-left: 20px;
    }
    .confirm {
      position: absolute;
      right: 10px;
      bottom: 35%;
      color: #fff;
    }
  }
  .footer {
    position: fixed;
    right: -20px;
    bottom: -20px;
    .img {
      width: 100px;
      height: 153px;
      transform: rotateY(180deg);
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  text {
    font-size: 14px;
    color: #b3b3b3;
  }
}
.subjectBox {
  .active {
    background: linear-gradient(to left top, #03b0bc, rgba(#37f1fd, 0.8));
    box-shadow: 10px 5px 5px #9decf1;
  }
  .activeTitle {
    color: #fff !important;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
  }
  .activeSubTitle {
    color: #fff !important;
    font-weight: 300;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    padding-left: 20px;
  }
}
