page {
  background-color: #f9f9f9;
}
.my {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    .top {
      width: 40px;
      height: 17px;
    }
    .avatar {
      width: 70px;
      height: 70px;
      margin-top: 5px;
    }
  }
  .infoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      position: relative;
      display: flex;
      justify-content: center;
      width: 40%;
      padding: 15px 0;
      text {
        font-family: "Courier New", Courier, monospace;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 2px;
      }
      image {
        position: absolute;
        bottom: 20px;
        right: -20px;
        width: 30px;
        height: 30px;
      }
    }
  }
  .body {
    position: relative;
    display: flex;
    .left {
      z-index: 10;
      position: absolute;
      top: 35px;
      display: flex;
      flex-direction: column;
      width: 10.3vw;
      .leftText {
        background-color: #fff;
        border: 1px solid #f169ec;
        border-radius: 8px 0 0 8px;
        border-right: none;
        margin-bottom: 8px;
        padding: 5px 10px;
        text {
          color: #f169ec;
        }
      }
      .active {
        color: #fff;
        font-weight: 600;
        background-color: #f169ec;
        border: 1px solid #f169ec;
        border-right: none;
        border-radius: 8px 0 0 8px;
        margin-bottom: 8px;
        padding: 5px 10px;
      }
    }
    .right {
      position: absolute;
      right: 0;
      width: 90vw;
      .locate {
        display: flex;
        justify-content: center;
        background-image: linear-gradient(
            to right,
            rgba(#f39df0, 0.9),
            rgba(#f5c6f4, 0.2)
          ),
          url("../../static/images/love.png");
        background-color: #f6c6f4;
        border-radius: 20px 20px 0 0;
        image {
          width: 25px;
          height: 25px;
          padding-right: 10px;
        }
        .locateInfo {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .top,
          .bottom {
            color: #fff;
            font-weight: 600 !important;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
      .show {
        // display: flex;
        // flex-wrap: wrap;
        background-color: #fff;
        border: 1px solid #f169ec;
        border-radius: 0 0 20px 20px;
        border-top: none;
        border-right: none;
        background-color: #f9f9f9;
      }
    }
  }
}
